# Assignment - 3

## Lists, Dictionaries, Tuples and Sets

#### Answer the following questions:

How is a tuple different from a list?

How is a set different from a dictionary?

How to create a tuple with just one element? Explain.

## Lists

In [1]:
# sort this list
numbers = [12, 34, 89, 1, -23, -99]

In [3]:
# sort this list
numbers = [12, 34, 89, 1, -23, -99]
numbers.sort()
print(numbers)

[-99, -23, 1, 12, 34, 89]

In [2]:
# reverse this list
names = ['Ajay', 'Jatin', 'Piyush', 'Niwesh']

In [6]:
# reverse this list
names = ['Ajay', 'Jatin', 'Piyush', 'Niwesh']
names.reverse()
print(names)

['Niwesh', 'Piyush', 'Jatin', 'Ajay']

In [3]:
# find the maximum and minimum from this list
numbers_two = [12, 67, 78787, 902, 232, -76, -9, 872001]

In [11]:
# find the maximum and minimum from this list
numbers_two = [12, 67, 78787, 902, 232, -76, -9, 872001]
print('Max: ',max(numbers_two))
print('Min: ',min(numbers_two))

Max:  872001
Min:  -76

In [13]:
# change the element 'apples' to 'oranges'
my_list = [23, 56, ['bananas', 'apples']]

In [14]:
# change the element 'apples' to 'oranges'
my_list = [23, 56, ['bananas', 'apples']]
my_list[2][1] = 'oranges'
print(my_list)

[23, 56, ['bananas', 'oranges']]

In [5]:
# reverse this list (use a different method this time)
numbers_three = [12, 7, 90, -29, 0]

In [15]:
# reverse this list (use a different method this time)
numbers_three = [12, 7, 90, -29, 0]
print(numbers_three[-1:-6:-1])

[0, -29, 90, 7, 12]

## Dictionaries

In [6]:
# grab 'apples'
inventory = {'fruit_one': 'bananas', 'fruit_two': 'apples'}

In [1]:
# grab 'apples'
inventory = {'fruit_one': 'bananas', 'fruit_two': 'apples'}
inventory['fruit_two']

'apples'

In [7]:
# grab 'apples'
inventory = {'numbers':[1, 2, 3, 4, 5], 'fruits': ['peaches', 'apples', 'bananas', 'oranges']}

In [2]:
# grab 'apples'
inventory = {'numbers':[1, 2, 3, 4, 5], 'fruits': ['peaches', 'apples', 'bananas', 'oranges']}
inventory['fruits'][1]

'apples'

In [8]:
# grab 'apples'
inventory = {'sub_inventory': {'numbers': [1, 5, 2, 8], 'fruits':{ 'quantity':25, 'names':['peaches', 'apples']}}}

In [5]:
# grab 'apples'
inventory = {'sub_inventory': {'numbers': [1, 5, 2, 8], 'fruits':{ 'quantity':25, 'names':['peaches', 'apples']}}}
inventory['sub_inventory']['fruits']['names'][1]

'apples'

## Sets

In [9]:
# remove the unique elements from the list
numbers = [1, 1, 1, 1, 3, 4, 9, 0, 1, 1, 1]

In [6]:
# remove the unique elements from the list
numbers = [1, 1, 1, 1, 3, 4, 9, 0, 1, 1, 1]
set(numbers)

{0, 1, 3, 4, 9}

## Tuples

In [10]:
# count the number of occurances of 2 in the tuple
numbers = (2, 2, 1, 1, 4, 4, 2)

In [8]:
# count the number of occurances of 2 in the tuple
numbers = (2, 2, 1, 1, 4, 4, 2)
numbers.count(2)

3

In [11]:
# find the index of 1 in the above tuple

In [9]:
# find the index of 1 in the above tuple
numbers.index(1)

2

In [12]:
# find the length of the above tuple

# That's it!