# Set and Booleans
 

## Sets

Sets are an unordered collection of *unique* elements. We can create a set by using the set() function.

In [1]:
numbers = set()

In [2]:
type(numbers)

set

In [3]:
# we can use the add() method to add elements to the set
numbers.add(1)
numbers.add(3)

In [4]:
numbers

{1, 3}

Sets only contain one copy of a particular element!

In [5]:
numbers.add(1)

In [6]:
numbers

{1, 3}

See! only one `1` is there while we added `1` twice!

In [7]:
# we can use the remove() method to remove elements from a set
numbers.remove(3)
numbers

{1}

Here's a great use of `set()`

In [8]:
numbers = [1, 1, 1, 2, 2, 5, 5, 6, 6, 8]
numbers

[1, 1, 1, 2, 2, 5, 5, 6, 6, 8]

In [9]:
set(numbers)

{1, 2, 5, 6, 8}

See? We removed all the duplicates from the list using the `set()` method! That was great! Right?

## Booleans

Python  comes with Booleans (with predefined `True` and `False` displays).

In [10]:
is_sunny = True

is_sunny

True

In [11]:
is_rainy = False

is_rainy

False

The results of comparison operations are also of type boolean!

In [12]:
3 > 2

True

In [13]:
2 < 3

True

In [14]:
45 > 65

False

In [15]:
2 == 2

True

# That's all about sets and booleans in Python!

An overview of the comparision operators in Python. The meaning of the operators are the same as it is in mathematics. 

In the table below, a = 15 and b = 16.

<table class="table table-bordered">
<tr>
<th style="width:10%">Operator</th><th style="width:45%">Description</th><th>Example</th>
</tr>
<tr>
<td>==</td>
<td>If the values of two operands are equal, then the condition becomes true.</td>
<td> (a == b) is not true.</td>
</tr>
<tr>
<td>!=</td>
<td>If values of two operands are not equal, then the condition becomes true.</td>
<td> (a != b) is true.</td>
</tr>
<tr>
<td>&gt;</td>
<td>If the value of left operand is greater than the value of right operand, then the condition becomes true.</td>
<td> (a &gt; b) is not true.</td>
</tr>
<tr>
<td>&lt;</td>
<td>If the value of left operand is less than the value of right operand, then the condition becomes true.</td>
<td> (a &lt; b) is true.</td>
</tr>
<tr>
<td>&gt;=</td>
<td>If the value of left operand is greater than or equal to the value of right operand, then the condition becomes true.</td>
<td> (a &gt;= b) is not true. </td>
</tr>
<tr>
<td>&lt;=</td>
<td>If the value of left operand is less than or equal to the value of right operand, then the condition becomes true.</td>
<td> (a &lt;= b) is true. </td>
</tr>
</table>