In [40]:
my_tuple = (1, 2)

In [3]:
my_tuple

(1, 2)

In [4]:
my_tuple + (4, 5)

(1, 2, 4, 5)

In [5]:
my_tuple * 2

(1, 2, 1, 2)

In [6]:
my_set = {1, 2}

In [7]:
my_set

{1, 2}

In [8]:
my_set.add(3)

In [9]:
my_set

{1, 2, 3}

In [10]:
my_set.remove(1)

In [11]:
my_set

{2, 3}

In [12]:
set_one = {1, 2, 3}

In [13]:
set_two = {2, 3, 4, 5}

In [14]:
union_of_sets = set_one.union(set_two)

In [15]:
union_of_sets

{1, 2, 3, 4, 5}

In [16]:
intersection = set_one.intersection(set_two)

In [17]:
intersection

{2, 3}

In [18]:
set_one | set_two

{1, 2, 3, 4, 5}

In [19]:
set_one & set_two

{2, 3}

In [20]:
set_one - set_two

{1}

In [23]:
my_dict = { 'fruit': 'apple', 'vegetable': 'onion' }

In [24]:
my_dict

{'fruit': 'apple', 'vegetable': 'onion'}

In [28]:
my_dict['fruit']

'apple'

In [29]:
my_dict.get('fruit')

'apple'

In [30]:
another_dict = { 'fruits': ['apples', 'mangoes'], 'vegetables': {'onions', 'potatoes'} }

In [31]:
another_dict

{'fruits': ['apples', 'mangoes'], 'vegetables': {'onions', 'potatoes'}}

In [33]:
another_dict['colors'] = ['orange', 'black']

In [34]:
another_dict

{'fruits': ['apples', 'mangoes'],
 'vegetables': {'onions', 'potatoes'},
 'colors': ['orange', 'black']}

In [35]:
del another_dict['fruits']

In [36]:
another_dict

{'vegetables': {'onions', 'potatoes'}, 'colors': ['orange', 'black']}

In [37]:
'onions' in another_dict['vegetables']

True

In [38]:
'brinjal' in another_dict['vegetables']

False

In [41]:
is_fruit = True

In [42]:
is_fruit

True

In [43]:
a = 2

In [44]:
if a == 2:
    print('a is 2')

a is 2

In [45]:
if a == 2:
    print('a is 2')
print('a is not 2')

a is 2
a is not 2

In [46]:
if a == 3:
    print('a is 2')
    print('a is not 2')

In [47]:
if a == 2:
    print('a is 2')
else:
    print('a is not 2')

a is 2

In [48]:
if a == 3:
    print('a is 3')
else:
    print('a is not 3')

a is not 3

In [51]:
x = int(input('Enter first number: '))
y = int(input('Enter second number: '))
if x > y:
    max = x
else:
    max = y
print('%d is largest number.' %(max))

Enter first number: 76
Enter second number: 45
76 is largest number.

In [52]:
x = int(input('Enter first number: '))
y = int(input('Enter second number: '))
if x > y:
    max = x
else:
    max = y
print('%d is largest number.' %(max))

Enter first number: 65
Enter second number: 100
100 is largest number.

In [54]:
x = int(input('Enter first number: '))
y = int(input('Enter second number: '))
z = int(input('Enter third number: '))
if ((x > y) & (x > z)):
    max = x
elif ((y > x) & (y > z)):
    max = z
else:
    max = z
print('%d is largest number.' %(max))

Enter first number: 2
Enter second number: 7
Enter third number: 9
9 is largest number.

In [56]:
x = int(input('Enter first number: '))
y = int(input('Enter second number: '))
z = int(input('Enter third number: '))
if ((x > y) & (x > z)):
    max = x
elif ((y > x) & (y > z)):
    max = y
else:
    max = z
print('%d is largest number.' %(max))

Enter first number: 7
Enter second number: 9
Enter third number: 2
9 is largest number.

In [57]:
x = int(input('Enter first number: '))
y = int(input('Enter second number: '))
z = int(input('Enter third number: '))
if ((x > y) & (x > z)):
    max = x
elif ((y > x) & (y > z)):
    max = y
else:
    max = z
print('%d is largest number.' %(max))

Enter first number: 9
Enter second number: 3
Enter third number: 5
9 is largest number.

In [58]:
True and True

True

In [59]:
True and False

False

In [60]:
False or True

True

In [61]:
False or False

False

In [64]:
True or True

True

In [65]:
not False

True

In [66]:
not True

False

In [67]:
x = int(input('Enter first number: '))
y = int(input('Enter second number: '))
z = int(input('Enter third number: '))
if ((x > y) and (x > z)):
    max = x
elif ((y > x) and (y > z)):
    max = y
else:
    max = z
print('%d is largest number.' %(max))

Enter first number: 7
Enter second number: 4
Enter third number: 9
9 is largest number.

In [68]:
fruits = ['apples', 'oranges', 'mangoes']

In [69]:
if 'apples' in fruits:
    print('apples in fruits')
else:
    print('apples not in fruits')

apples in fruits

In [70]:
if 'pears' in fruits:
    print('pears in fruits')
else:
    print('pears not in fruits')

pears not in fruits

In [71]:
'apples' in fruits

True

In [72]:
not 'apples' in fruits

False

In [73]:
if not 'apples' in fruits:
    print('apples not in fruits')
else:
    print('apples in fruits')

apples in fruits

In [74]:
fruits = {'apples', 'mangoes'}

In [75]:
if 'apples' in fruits:
    print('apples in fruits')

apples in fruits